.navbar-bg{
    /* background-color: #fff !important; */
    /* background-image: linear-gradient(to right, #e77431, #4c5c78); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    height: 10vh;
    padding: 1rem 6rem;
}
.navlogo{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #242424 !important;
    transition: all 0.3s;
}
.navlogo:hover{
    color: #fa6400 !important;
}
.navtags{
    text-decoration: none;
    margin: 0 1rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #242424 !important;
    border-bottom: 1px solid transparent;
}
.profile__btn{
    border: 0 solid #8571ea;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 4px;
    background-color: #fa6400;
    box-shadow: 0 8px 35px -5px rgb(250 100 0 / 60%);
}
.nav_active{
    border-bottom: 1px solid #0770d3;
}
.register-li{
    background-color: #fa6400;
    border-radius: 5px;
}
.register-li a{
    color: #ffffff !important;
}
@media only screen and (max-width: 500px){
    .header{
        padding: 0;
    }
    .custom-toggler.navbar-toggler {
        background-color: #404b55;
    }
    .navbar-bg{
    padding: 1rem 1rem;
    }
}

.drop-div{ 
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
    color: #252525 !important;
}
.drop-div:hover{ 
    background-color: #4c5c78;
    color: #252525 !important;
}
.drop-lbl{
    color: #252525 !important;
    text-align: left;
    transition: all 0.3s;
    margin-left: 0.5rem;
}
.drop-lbl span {
    padding-right: 0.5rem;
}
.drop-lbl:hover{
    transform: translateX(1rem);
    background-color: #4c5c78;
    color: #ffffff !important;
}
.link2{
    cursor: pointer;
    transition: all 0.3s;
    border-left: 1px solid transparent;

}
.link2:hover{
    border-left: 1px solid #6b7b97;
}

.profile-drop-div{
    width: 10rem !;
    cursor: pointer;
    text-align: center;
    background-color: #4c5c78;
    transition: all 0.3s;
    color: #e1eaf1 !important;
}