
.newsfeed_main_div {
  width: 100%;
  height: 90vh;
  padding: 0 1rem;
  background-color: #edeff1;
}
.sub_newsfeed {
  width: 100%;
  height: 90vh;
  display: flex;
}

.left-div {
  width: 25%;
  height: 86vh;
  margin-right: 5%;
  margin-top: 2vh;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.middle-div {
  position: relative ;
  width: 40%;
  height: 90vh;
  margin-right: 5%;
  background-color: #edeff1;
  overflow-y: scroll;
}
.middle-div::-webkit-scrollbar {
  display: none;
}
.post-div-main-top{
  width: 100%;
  height: auto;
  margin-right: 5%;
  margin-top: 2vh;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.post-div-main-top label{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #404b55;
}
.comment_section_div{
  position: relative;
  width: 100%;
  height: 86vh;
  margin-top: 2vh;
  background-color: #ffffff;
  border-radius: 12px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  animation: animate_comment_div 0.6s;
}

@keyframes animate_comment_div{
  from{
    opacity: 0%;
  }to{
    opacity: 100%;
  }
}
.comment_section_top{
  width: 100%;
  height: 8vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
  line-height: 6vh;
  box-shadow: 5px 0px 10px #cfcfcf62;
  border-bottom: #cfcfcf9c 1px solid;
}
.comment_section_top label{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.comment_section_top span{
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  color: #224263;
}
.comment_section_top span:hover{
  color: #001f38;
}

.comment_section_middle{
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.comment_section_middle::-webkit-scrollbar {
  display: none;
}
.each_comment_div{
  width: 100%;
  height: auto;
  display: flex;
  padding: 1vh 1vw;
  justify-content: space-between;
}
.each_comment_div_left{
  width: 10%;
  display: flex;
  justify-content: center;
}
.left_profile_pic{
  width: 3rem;
  height: 3rem;
  margin-top: 1vh;
  background-color: #a0a0a0;
  border-radius: 50%;
}
.left_profile_pic img{
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}
.each_comment_div_right{
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
}
.comment_user_name{
  font-family: "Poppins", sans-serif ;
  font-size: 1rem;
  color: #224263;
  font-weight: 500;
}
.comment_user_name span, .comment{
  font-family: "Poppins", sans-serif ;
  font-size: 0.8rem;
  color: #5f5f5f;
  font-weight: 300;
}
.comment{
  font-size: 1rem;
  color: #224263;

}

.comment_section_bottom{
  position: absolute;
  width: 100%;
  height: 8vh;
  padding: 1vh 1vw;
  bottom: 0;
  box-shadow: 5px 0px 10px #cfcfcf62;
  border-top: #cfcfcf9c 1px solid;
  display: flex;
  justify-content: space-between;
  line-height: 6vh;
}
.comment_section_bottom span{
  font-family: "Poppins", sans-serif ;
  font-size: 1.6rem;
  color: #224263;
  cursor: pointer;
}
.comment_input{
  transition: all 0.1s;
  font-family: "Poppins", sans-serif ;
  font-size: 1rem;
  height: 6vh;  
  width: 92%;
  padding-left: 1rem;
  border-radius: 10px;  
  border: none;
  background-color: #edeff1;
}
.comment_input:focus{
  box-shadow: none;
  outline: 0 none;
}

.right-div {
  width: 30%;
  height: 86vh;
  margin-top: 2vh;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.sub1-right-div {
  width: 100%;
  height: 100%; /* Can be use auto for inifinte scroll*/
  padding: 8%;
  border-radius: 12px;
}

.create_post_lbl{
  font-family: "Poppins", sans-serif ;
  font-size: 1rem;
}

.inpt-post {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
.input_file {
  margin-top: 1rem;
}
.tandc1{
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-align: center;
  margin-top: 1.5rem;
}
.tandc1 span{
  color: #224263;
}
#selected_img{
  width: auto;
  height: 100px;
  margin-top: 1rem;
  background-size: cover;
  box-shadow: 0px 1px 4px #5f5f5f;
}
.post_btn {
  width: 100%;
  height: 2.4rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  outline: none;
  border: none;
  margin-top: 2rem;
  background-color: #404b55;
  color: #ffffff;
  border-radius: 5px;
}

/* 8****************************** */
.post_div{
  width: 100%;
  height: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 12px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #cfcfcf63;
  background-color: #ffffff;
}
.post_top{
  width: 100%;
  height: 12vh;
  padding: 2vh 1vw;
  display: flex;
}
.profile_photo_in_feed_div{
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}
.profile_photo_in_feed_div img{
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}
.name_and_time_div{
  height: 8vh;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.profileName_lbl_in_post{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
.date_of_post{
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}


.post_mid{
  width: 100%;
  height: auto;
  padding: 1vh 1vw;
}
.post_mid img{
  width: 100%;
  height: auto;
  background-size: cover;
  box-shadow: 0px 1px 4px #5f5f5f;
}

.post_bottom{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  padding: 1vh 1vw;
}
.post_lbl{
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  text-align: left;
}

.like_and_comment_box{
  width: 100%;
  height: 8vh;
  padding: 1vh 1vw;
  display: flex;
  justify-content:space-between;
}
.like_div, .comment_div{
  width: 45%;
  height: 100%;
  cursor: pointer;
  color: #404b55;
}
.comment_div{
  text-align: right;
  cursor: pointer;
}
.like_div label{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.comment_div label{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}
.like_div span{
  font-size: 1.2rem;
  line-height: 6vh;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.like_div:hover span{
  cursor: pointer;
  color: #03b653;
}

.comment_div span{
  font-size: 1.2rem;
  line-height: 6vh;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.comment_div:hover span{
  cursor: pointer;
  color: #0084ff;
}
.count{
  margin-left: 0.5rem;
  cursor: pointer;
}
.date_of_post{
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  color: #404b55ab;
}
