
body::-webkit-scrollbar {
    display: none;
}

.wrapper{         
    height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.mid-div-box{
    width: 100%;
    height: 65vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1vh 12%;
    margin-top: 20vh;
    background-image: url(../../Images/Group.svg);
    background-size: cover;
    /* background-image: linear-gradient(to right, #FF9347, #ff944713); */
}
.homepage_header_main_div{
    display: flex;
    flex-direction: row;
    width: auto;
}
.main-label, .main-label1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #242424;
    font-weight: 500;
    margin-bottom: 10vh;
}
.main-label1{
    color: #fa6400;
    padding:0 10px;
}

.tag-lbl{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    color: #414141;
}

.about_us_in_home{
    width: 10rem;
    padding: 10px 20px;
    border: 0 solid #8571ea;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    margin-top: 20vh;
    border-radius: 4px;
    background-color: #fa6400;
    box-shadow: 0 8px 35px -5px rgb(250 100 0 / 60%);
}

.Short_Card_Div{
    width: 90%;
    height: 60vh;
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 2px 6px rgba(122, 128, 133, 0.431) ;
}
.card:hover{
    box-shadow: 0px 2px 12px rgba(122, 128, 133, 0.431) ;
}
.card_top_div, .card_bottm_div{
    width: 100%;
    height: 50%;
    padding: 5px;
}
.card_top_div img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.card_bottm_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 5vw;
    text-align: center;
}
.card_header, .card_desc{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.card_header{
    font-size: 1.6rem;
    margin-bottom: 3vh;
}
.go_in_link{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    color: #fa6400;
    text-decoration: underline;
}
.go_in_link:hover{
    color: #fa6400;
}
.go_in_link span{
    transition: all 0.2s;
}
.go_in_link:hover span{
    margin-left: 3px;
    text-decoration: underline;
}
.Quicbar{
    width: 60%;
    height: 40vh;
    box-shadow: 0px 2px 6px rgba(122, 128, 133, 0.431) ;
    margin-top: 30vh;
    background-color: #fa6400;
}
/* .home_image_div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    background-image: url(../../Images/Vector\ 1.svg);
    background-size: cover;
}

.bg_frame{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vh;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(122, 128, 133, 0.431) ;
}
.bg_frame img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.content_div1{
    width: 50%;
    height: 100%;
} */

