.wrapper::-webkit-scrollbar-track{
    background-color: transparent;
}
.wrapper::-webkit-scrollbar {
    width: 5px;
    display: none;
}
.wrapper::-webkit-scrollbar-thumb {
    background: transparent;
}
.wrapper{                        
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}
.section, .section2{
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.section-bg{
    box-shadow: 0px 6px 0px white;
    border-radius: 100%/0 0 10px 60px;
}

.parallax-2{
    background-image: linear-gradient(to right, #19628d8e, #ff944713);

}
.image1::after{
    background-image: url('../../Images/desktopbg1.jpeg');
}
.image2::after{
    background-image: url('../../Images/desktopbg3.jpg');
}
.image3::after{
    background-image: url('../../Images/desktopbg2.jpeg');
}
.parallax::after{
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -1;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
}

.static1{
    background-color: #4c5c78;
}
.static2{
    background-color: #f8f8f8 !important;
    border-radius: 100%/0 0 10px 10px;
}
.static3{
    background-color: #03203C !important;
}

.left-div-box{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 5rem 6rem;
    background-image: linear-gradient(to right, #FF9347, #ff944713);
}
.main-label{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #f5faff;
    font-weight: 200;
}

.tag-lbl{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.6px;
    color: #f5faff;
}

.about_us_in_home{
    width: 10rem;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #404b55;
    margin-top: 8rem;
    background-color: white;
}

.Quote-tag{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 200;
    width: 80%;
    text-align: center;
}