.register-bg{
    width: 100%;
    height: 150vh;
    background-color:#20538d;
}

.register_top_div{
    position: relative;
    display: flex;
}
.register_top_div img{
    width: 100%;
    height: auto;
}
.register_float_div{
    position: absolute;
    width: 25vw;
    height: 90vh;
    right: 5rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(123, 129, 134, 0.432) ;
}
.input-field{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #c0c0c0;
}
.reister-lbl{
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #404b55;
}
.tandc{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 3rem;
}
.register-btn{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    height: 2.4rem;
    outline: none;
    border: none;
    margin-top: 1rem;
    background-color: #404b55 ;
    color: #ffffff;
}